
.container-Que_es_Nasu {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    background-color: rgba(19,41,65,255);

  }
  
  .with-image-Que_es_Nasu {
    background: url('../Imagenes/Faqs/captura1.png') no-repeat center center / cover;
    position: relative;
    width: 100%; 
    height: 50vh;
    display: flex;
    align-items: center;
    
  }
  
  /* Titulo */
  .content-Que_es_Nasu {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    text-align: center;
    font-size: 1.4em;
    width: 70%;
  }
  
  .content-Que_es_Nasu h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .content-Que_es_Nasu p {
    font-size: 1.2em;
    
  }


.contenedor-Que_es_Nasu {
  margin-left: 5%;
  margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.979);
    text-align: left;    
   padding: 3%;
  }


  .contenedor-Que_es_Nasu h1 { 
padding: 1%;
  }

h1 .h1color{
    color:rgba(75,172,78,255);
}

  .contenedor-Que_es_Nasu p { 
    padding: 1%;
    font-family: system-ui;
      }



.casilla-Que_es_Nasu {
  border: 1px solid;
  border-color: lightgray;
  display: flex;
   flex-Direction: row;
   margin-bottom: 5%;
}

.casilla-Que_es_Nasu img {
  height: 55vh;
  width: 50%;
}

.casilla-Que_es_Nasu h1 {
padding: 4%;
}

.casilla-Que_es_Nasu p {
  padding: 5%;
  
}

  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .container-Que_es_Nasu {
      flex-direction: column; /* Stack items vertically on small screens */
    }
  
    .with-image-Que_es_Nasu {
      height: 80vh; /* Adjust height for small screens */
    }
  
    .content-Que_es_Nasu {
      top: 50%; /* Adjust vertical position on small screens */
      transform: translate(-55%, -50%);
      width: 80%;
    }
  
    .content-Que_es_Nasu h1 {
      font-size: 1.6em; /* Adjust font size for small screens */
    }
  
    .content-Que_es_Nasu p {
      font-size: 1em; /* Adjust font size for small screens */
    }

    .casilla-Que_es_Nasu {
      border: 1px solid lightgray;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      margin-bottom: 5%;
    }
    
    .casilla-Que_es_Nasu img {
      width: 100%; /* Make the image cover the width */
      height: auto; /* Maintain aspect ratio */
    }
    
    .casilla-Que_es_Nasu .text-container {
      padding: 2%; /* Adjust padding for better spacing */
    }
    
    .casilla-Que_es_Nasu h1 {
      padding-bottom: 1%; /* Adjust spacing between title and text */
    }
    
    .casilla-Que_es_Nasu p {
      padding-top: 1%; /* Adjust spacing between title and text */
    }
    




    

  }