
.container-Login {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  background-color: rgba(19, 41, 65, 255);
}

.with-image-Login {
  background: url('../Imagenes/Faqs/captura1.png') no-repeat center center / cover;
  position: relative;
  width: 100%; 
  height: 90vh;
  display: flex;
  align-items: center;
}

/* Titulo */
.content-Login {
  margin-top: 3%;
  position: relative; /* Make the container relative for absolute positioning */
  display: flex;
  flex-wrap: nowrap;
  width: 42%;
  background-color: rgba(30, 40, 51, 255);
  display: grid;
  grid-gap: 15px;
  margin-left: 13%;
  color: white;
  border-radius: 5px;
}

.content-Login h1 {
  font-size: 2em;
  margin-bottom: 5px;
  margin-top: 12%;
}

.content-Login input {
  background-color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 70%;
  margin-left: 17%;
  height: 35px;
}

.content-Login img {
  position: absolute;
  top: -85px; /* Adjust this value based on your design */
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid white;
}


.content-Login .button-Login_sesion {
  background-color: rgba(33,74,128,255);
  height: 45px;
  width: 70%;
  margin-left: 17%;
  border-radius: 25px;
  color: white;
  font-size: x-large;
  font-weight: bold;
  border: none;
}

.content-Login .button-Login_registrar {
  background-color: rgba(75,172,78,255);
  height: 45px;
  width: 70%;
  margin-left: 17%;
  margin-bottom: 5%;
  border-radius: 25px;
  color: white;
  font-size: x-large;
  font-weight: bold;
  border: none;
}

.button-Login_sesion:hover {
  background-color: rgba(230,230,230,255);
  color: black;
}

.button-Login_registrar:hover {
  background-color: rgba(230,230,230,255);
  color: black;
}




@media screen and (max-width: 768px) {
  .container-Login {
    flex-direction: column; 
  }

  .with-image-Login {
    height: 100vh; 
  }

  .content-Login {
    width: 75%;
    padding: 5%;
  }

  .content-Login input {
    margin: auto;
    display: block;
    width: 90%;
  }

  .content-Login h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 35%;
  }

  .content-Login .button-Login_sesion {
    background-color: rgba(33,74,128,255);
    height: 45px;
    width: 70%;
    margin-left: 17%;
    border-radius: 25px;
    color: white;
    font-size: small;
    font-weight: bold;
  }

  
  .content-Login .button-Login_registrar {
    background-color: rgba(75,172,78,255);
    height: 45px;
    width: 70%;
    margin-left: 17%;
    border-radius: 25px;
    color: white;
    font-size: small;
    font-weight: bold;
  }

}





