.container-Prevencion {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    background-color: rgba(19,41,65,255);

  }
  
  .with-image-Prevencion {
    background: url('../Imagenes/Faqs/captura1.png') no-repeat center center / cover;
    position: relative;
    width: 100%; 
    height: 50vh;
    display: flex;
    align-items: center;
    
  }
  
  /* Titulo */
  .content-Prevencion {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    text-align: center;
    font-size: 1.4em;
    width: 70%;
  }
  
  .content-Prevencion h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .content-Prevencion p {
    font-size: 1.2em;
  }


.contenedor-Prevencion {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.979);
    text-align: left;
    width: 90%;   
    padding: 3%;
  }


  .contenedor-Prevencion h1 { 
padding: 1%;
  }

  .contenedor-Prevencion .blue { 
    color: rgb(12, 12, 87);
    font-weight: 600;
    padding: 10px;
  }

  .contenedor-Prevencion .gray { 
    color: rgb(95, 88, 88);
    font-weight: 600;
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    .container-Prevencion {
      flex-direction: column; 
    }
  
    .with-image-Prevencion {
      height: 80vh; 
    }
  
    .content-Prevencion {
      top: 50%; 
      transform: translate(-55%, -50%);
      width: 80%;
    }
  
    .content-Prevencion h1 {
      font-size: 1.6em; 
    }
  
    .content-Prevencion p {
      font-size: 1em; 
    }


  }