.section_padding {
    padding: 4rem 4rem;
}

.footer {
    color: grey;
    background-color: black;
}

.sb_footer {
    display: flex;
    flex-direction: column;
}

.sb_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb_footer-links_divl h4 {    
    line-height: 17px;
    margin-bottom: 0.9rem;
    
}

.sb_footer-links_divl p{ 
    font-size: 15px;
    line-height: 15px;
    margin: 0.5rem 0;
}

.sb_footer-links_divr h4 {    
    line-height: 17px;
    margin-bottom: 0.9rem;
    
}

.sb_footer-links_divr p{ 
    font-size: 15px;
    line-height: 15px;
    margin: 0.5rem 0;
}

.p {
    white-space: pre;
  }

.sb_footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb_footer-below-links {
    display: flex;
    flex-direction: row;
}

.sb_footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}




.sb_footer-copyright p {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
}

@media screen and (max-width: 850px) {
    .sb_footer-headeing h1 {
        font-size: 44px;
        line-height: 42px;
    }

    .sb_footer-links {
        margin: 1rem 0;
    }

    .sb_footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }

    .sb_footer_below {
        flex-direction: column;
        justify-content: left;
    }

    .sb_footer-below-links {
        flex-direction: column;
    }

    .sb_footer-below-links p {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .sb_footer-heading {
        font-size: 27px;
        line-height: 38px;
    }
}